* {
  box-sizing:border-box;
  outine: 2px solid red
}

/* color options: #262626, */

body {
  background-color: #FF5F00;
  font-family: Helvetica, Arial, sans-serif;
  margin: 50px 100px;
  
}

#home-title {
  color: #002379;
  padding: 8px;
  border-radius: 20px;
  background-color: #FF9F66;
  
}

#greeting, #p1, #p2 {
  color: #FFFAE6;
  background-color: #FF9F66;
  padding: 16px 24px;
  border-radius: 20px;
}

.recipes a:link {
  color: #002379;
}

.recipes {
  background-color:#FF9F66;
  padding: 8px 40px;
  border-radius: 20px;
}

footer {
  color: #FFFAE6;
  text-align: center;
  margin: 50% auto;
}